ACW_08346_464886_Client/Service References/ServiceReference1/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/ACW_08346_464886_ServiceLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_HelloEcho_InputMessage">
    <wsdl:part name="parameters" element="tns:HelloEcho" />
  </wsdl:message>
  <wsdl:message name="IService1_HelloEcho_OutputMessage">
    <wsdl:part name="parameters" element="tns:HelloEchoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Sort_InputMessage">
    <wsdl:part name="parameters" element="tns:Sort" />
  </wsdl:message>
  <wsdl:message name="IService1_Sort_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_PublicKey_InputMessage">
    <wsdl:part name="parameters" element="tns:PublicKey" />
  </wsdl:message>
  <wsdl:message name="IService1_PublicKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:PublicKeyResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_Decrypt_InputMessage">
    <wsdl:part name="parameters" element="tns:Decrypt" />
  </wsdl:message>
  <wsdl:message name="IService1_Decrypt_OutputMessage">
    <wsdl:part name="parameters" element="tns:DecryptResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="HelloEcho">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/HelloEcho" message="tns:IService1_HelloEcho_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/HelloEchoResponse" message="tns:IService1_HelloEcho_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Sort" message="tns:IService1_Sort_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SortResponse" message="tns:IService1_Sort_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PublicKey">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/PublicKey" message="tns:IService1_PublicKey_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/PublicKeyResponse" message="tns:IService1_PublicKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/Decrypt" message="tns:IService1_Decrypt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DecryptResponse" message="tns:IService1_Decrypt_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloEcho">
      <soap:operation soapAction="http://tempuri.org/IService1/HelloEcho" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Sort">
      <soap:operation soapAction="http://tempuri.org/IService1/Sort" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PublicKey">
      <soap:operation soapAction="http://tempuri.org/IService1/PublicKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Decrypt">
      <soap:operation soapAction="http://tempuri.org/IService1/Decrypt" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/ACW_08346_464886_ServiceLibrary/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>